.header{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
}
.banner{
    display: flex;
    background-position: top center;
    background-size: cover;
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
}
.banner h2{
    font-size: 6rem;
    margin-left: 3rem;
    margin-bottom: 6rem;
    margin-top: 8rem;
    color: lightgray;
}
.header-buttons{
    display: flex;
}
.header-buttons button{
    display: flex;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    margin-left: 50px;
    gap: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
}
.more-button{
    background-color: rgba(112, 113, 109, 0.7);
}
.more-button mat-icon{
    transform: scale(1.25);
    color: lightgray;
}
.play-button mat-icon{
    transform: scale(2.5);
}
.more-button span{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.play-button{
    background-color: white;
}
.play-button span{
    font-size: 24px;
    font-weight: 600;
}

/* fin banner */

.router-link-active{
    color: white;
  }

.header_main{
    display:flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    padding: 20px;
    width: 100%;
    z-index: 10;
}
.header_left{
    display: flex;
    flex:1;
    align-items: center;
    gap:50px;
}

.header_left img{
    margin-left: 40px;
    width: 100px;
    height: 100%;
    margin-top: 5px;
}

.header_right ul{
    flex: 1;
    display: flex;
    gap:30px;
    align-items: center;
    margin-right: 20px;
}

.header_right li a{
    color: white;
    font-style: 14px;
    font-weight: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.header_right mat-icon {
  margin-top: 5px;
  font-weight: 600;
}

.sticky{
    background-color: #0D0D0D;
    z-index: 100;
} 

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:20px;
}

a{
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Netflix Sans', 'Helvetiva Neue', Arial, Helvetica, sans-serif;
}
a:hover{
    transition: all 0.2s ease;
    color:white; 
}

